!!!
%html
  %body
    %h1 About This Site
    <hr size="8", color='gray'>
    %h3 Background
    %ul
      %li Project X's founders are Patrick Edelman, John rose, Jordan, Bianca and 	  Hadi Hamoud. Project X started out in 2012.
      %li The site officially launched on march 2, 2013. By the end of march, Project 	 X had a total of 2500 members.
    <hr size="4", color='gray'>
    %p
      %strong ProjectX.com
      is the one stop destination for all the needs of calendars. We provide a unique service in searching for any event at anywhere around the world.
    %p Here you can easily find and add events with different category to your Google calendar without jumping from one website to another looking for your interest.
    %p
      %strong ProjectX.com
      on Social Media:
      %strong ProjectX.com
      is excited to participate on numerous social networks including Facebook and Twitter.
    %p We understand that you may have different needs which are not available in this site. Please help us by sending your feedback. We will add your needs as soon as possible.
    