.container
	.marketing
		%h1
			New ways of sharing, across all of Google
		.btn-group
			%a.btn.btn-primary.btn-large
				Watch video
		%br
		%br
		%br
		%br
		%p
			Get started in 5 steps
		.row-fluid
			%ul.thumbnails
				%li.span3
					%a.thumbnail{href: "#"}
						%img{src: "https://raw.github.com/ghostandthemachine/test-images/master/home-thumb-connect.jpeg"}
						%p
							Connect with friends and family
				%li.span3
					%a.thumbnail{href: "#"}
						%img{src: "https://raw.github.com/ghostandthemachine/test-images/master/home-thumb-connect.jpeg"}
						%p
							Connect with friends and family
					%p
						Learn more
					%a.btn.btm-small.btn-info
						%icon.icon-signal
				%li.span3
					%a.thumbnail{href: "#"}
						%img{src: "https://raw.github.com/ghostandthemachine/test-images/master/home-thumb-connect.jpeg"}
						%p
							Connect with friends and family
					%br
					%p
						Learn more
					%icon.icon-arrow-down
				%li.span3
					%a.thumbnail{href: "#"}
						%img{src: "https://raw.github.com/ghostandthemachine/test-images/master/home-thumb-connect.jpeg"}
						%p
							Connect with friends and family
					%br
					%p
						Learn more
					%a.btn.btm-small.btn-info
						%icon.icon-pencil

		%hr
	.marketing
		.row
			.span12
				%img{src: "https://raw.github.com/ghostandthemachine/test-images/master/home-step-circles.jpeg"}
				%h1
					Introduce yourself
				%p
					Show the world who you are and what you’re into. Choose a profile photo, throw in some fun facts, and even add some bragging rights. Your Google+ profile is your smile to the world. Learn more
		%br
		%br
		%hr
		%br
		%br
		.row
			.span12
				%img{src: "http://www.google.com/+/images/learnmore/home/home-step-follow.jpg"}
				%h1
					Introduce yourself
				%p
					Show the world who you are and what you’re into. Choose a profile photo, throw in some fun facts, and even add some bragging rights. Your Google+ profile is your smile to the world. Learn more




				