.container
	.marketing
		%h1
			New ways of sharing, across all of Google
		.btn-group
			%a.btn.btn-primary.btn-large
				Watch video
		%br
		%br
		%br
		%br
		.row-fluid
			%ul.thumbnails
				%li.span3
					%a.thumbnail{href: "#"}
						%img{src: "http://blog.lib.umn.edu/howl0029/psy3960/istockphoto_5915619-family-and-friends-holding-hands.jpg"}
						%p
							Connect with friends and family
				%li.span3
					%a.thumbnail{href: "#"}
						%img{src: "http://blog.utest.com/wp-content/uploads/2012/08/Software-Update1.jpg"}
						%p
							Stay updated with what's going on around you
					%br
				%li.span3
					%a.thumbnail{href: "#"}
						%img{src: "http://image.shutterstock.com/display_pic_with_logo/586093/586093,1291384938,8/stock-photo--d-button-invite-friends-with-hand-cursor-on-white-isolated-background-66439561.jpg"}
						%p
							Invite who you want in few steps
				%li.span3
					%a.thumbnail{href: "#"}
						%img{src: "images/index/calendar.png"}
						%p
							Add Events to your calendar
		%hr
	.marketing
		.row
			.span12
				%h1
					Make your life easier
				%h3
					<strong>ProjectX.com</strong> is the one stop destination for all the needs of calendars. We provide a unique service in searching for any events, anywhere around the world.
					%br
				%img{src: "images/index/calendar3.png"}
				
		%br
		%br
		%hr
		%br
		%br

		.row
			.span12
				%h1
					Introduce yourself
				%h3
					Here you can easily find and add events with different category to your Google calendar without jumping from one website to another looking for your interest.
				%img{src: "images/index/project-x_4.png"}
				
		%br
		%br
		%br
		%br
		%hr
		.row
			.span12
				%h3
					<strong>ProjectX.com</strong> on Social Media:
					<strong>ProjectX.com</strong> is excited to participate on numerous social networks including Facebook Youtube and Twitter.
				%img{src: "http://www.kwdoggett.com.au/components/com_fetch_blog/uploads/omg-were-now-on-twitter-facebook-and-youtube-20110614012810gallery-1-.jpg"}
		.row
			.span12
				%h4
					We understand that you may have different needs which are not available in this site. Please help us by sending your feedback. We will add your needs as soon as possible.
				<a href="#" class="btn btn-large btn-primary disabled">Send us a feedback</a>

				