%br
%br
%br
%br

.footer
	.container
		.row
			%p.pull-right= "&copy; Company 2012"
			%a{href: "about"} About   
			%a{href: "lib/views/how_to"} How to ...   
			%a{href: "lib/views/contact_us.haml"} Contact Us   
			%a.pull-right{href: "/admin/login"} Admin