:javascript
	$('#form_tip').popover({trigger:'hover', placement:'top'})

.bs-docs-example
	%form{action: form_map.has_key?("action") ? form_map[:action] : "", method: form_map.has_key?("method") ? form_map[:method] : "post"}
		%legend= form_map[:title]

		-form_map[:elements].each do |element|

			- if element[:instr]
				%div#form_tip{:title => element[:instr]}
					%h4= element[:title]

			- else
				%h4= element[:title]

			- element[:input_fields].each do |input|

				- if input[:name]
					%name= input[:name]
					%br

				- if input[:type] == :rich_text
					%textarea
					/%textarea#markitup-textarea
				- else
					%input.input-xlarge{type: input[:type], placeholder: input[:placeholder], autofocus: input[:autofocus], id: input[:id]}

				%br

		%br
		%input.btn{ :name => "submit", :type => "submit", :value => "Submit"}
