%script{type: "text/javascript", src: "/markitup/jquery.markitup.js"}
%script{type: "text/javascript", src: "/markitup/sets/html/set.js"}

%link{ :href => "/markitup/skins/markitup/style.css", :type => "text/css", :rel => "stylesheet" }
%link{ :href => "/markitup/sets/html/style.css", :type => "text/css", :rel => "stylesheet" }

.bs-docs-example
	%form{action: form_map.has_key?("action") ? form_map[:action] : "", method: form_map.has_key?("method") ? form_map[:method] : "post"}
		%legend= form_map[:title]
		-form_map[:elements].each do |element|
			%h4= element[:title]
			- element[:input_fields].each do |input|
				-puts input[:type]

				- if input[:type] == :rich_text
					%label= input[:placeholder].capitalize
					%textarea
					/ %textarea#markitup-textarea
				- else
					%label= input[:placeholder].capitalize
					%input.input-xlarge{type: input[:type], placeholder: input[:placeholder], name: input[:name]}
		%br
		%input.btn{ :name => "submit", :type => "submit", :value => "Submit"}

// :javascript
// 	$(document).ready(function() {
// 	  $("textarea").markItUp();
// 	});
