:javascript
	$(function() {
		$('#myCarousel').carousel({
			// set the slide interval time in miliseconds
			interval: 3000
		});
	});

.container
	.marketing
		%h1 Introducing Project-X.
		%p.marketing-byline Need reasons to love Project-X? Look no further.
		#myCarousel.carousel.slide.offset1.span9.well
			.carousel-inner
				.item.active
					%img{:alt => "", :src => "images/index/login_665x440.png"}
					.carousel-caption
						%h4 Login with your Google account
						%p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
				.item
					%img{:alt => "", :src => "http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-03.jpg"}
					.carousel-caption
						%h4 Search for upcoming Events
						%p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
				.item
					%img{:alt => "", :src => "images/index/calendar.png"}
					.carousel-caption
						%h4 Add events to your Google Calendar
						%p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
			%a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
			%a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
		.row-fluid
			.span4
				%img{:src => "images/index/google_logo.png", :height => 125}
					%h2 Google integrated.
					%p
						Login with your existing Google account and sync with your Google Calendars.
			.span4
				%img{:src => "images/index/thetvdb_logo.png", :height => 125}
					%h2 TV shows.
					%p
						Search TheTVDB's tv listings to find showtimes of upcoming shows and add them to your Google Calendar.
			.span4
				%img{:src => "images/index/eventful_logo_lrg_1.png", :height => 125}
					%h2 Packed with features.
					%p
						Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.