:javascript
	$(function() {
		$('#myCarousel').carousel({
			// set the slide interval time in miliseconds
			interval: 3000
		});
	});

.container
	.marketing
		%h1 Introducing Project-X.
		%p.marketing-byline Need reasons to love Project-X? Look no further.
		#myCarousel.carousel.slide.offset1.span9.well
			.carousel-inner
				.item.active
					%img{:alt => "", :src => "images/index/project-x_2.png"}
					.carousel-caption
						%h4 Search for upcoming Events
						%p Use the search option to find out about upcoming events you don't want to miss! We offer you access to olur vast database which is connected with diverse sources such as BG TV and Google. 
				.item
					%img{:alt => "", :src => "images/index/calendar.png"}
					.carousel-caption
						%h4 Add events to your Google Calendar
						%p Want to keep track of what's going on when where and who is joining? You decide which events to add to your personal Calendar to be up-to-date - anywhere, anytime!

				.item	
					%img{:alt => "", :src => "images/index/login_665x440.png"}
					.carousel-caption
						%h4 Login with your Google account
						%p Too many accounts and passwords? No problem! Just use our comfortable option of using your Google account to login. Ready to go!		
			%a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
			%a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
		.row-fluid
			.span4
				%img{:src => "images/index/google_logo.png", :height => 125}
					%h2 Google integrated.
					%p
						Login with your existing Google account and sync with your Google Calendars.
			.span4
				%img{:src => "images/index/thetvdb_logo.png", :height => 125}
					%h2 TV shows.
					%p
						Search TheTVDB's tv listings to find showtimes of upcoming shows and add them to your Google Calendar.
			.span4
				%img{:src => "images/index/eventful_logo.png", :height => 125}
					%h2 Packed with features.
					%p
						Search for events and take advantage of our vasr database linked to web services such as Eventful which aims to help users search for, track and share information about events.