.container-fluid
	.row-fluid		
		.span12
			.hero-unit
				

				%h1
					%br
					%br
					Welcome To Project-X
				%h2
					A New Way to Share and Discover Events
				%p
					%a.btn.btn-primary.btn-large
						Learn more &raquo;
			
			.row-fluid
				.span4
					%h2
						Search events to find out what is coming up.
					%h4
						See what's going on locally, globally or extraterestrrially.

					%p
						%a.btn{:href => '/'}
							View Details &raquo;

				.span4
					%h2
						Create and share your own events.
					%h4
						Keep your event private, share with friends, or share it with everyone.
					%p
						%a.btn{:href => '/'}
							View Details &raquo;
				.span4
					%h2
						Heading
					%h4
						3Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					%p
						%a.btn{:href => '/'}
							View Details &raquo;
					