.content
	.container
		.row
			.span4.offset4.well
				%form{ :action => @map[:action], :method => "post"}
					%h1= @map[:title]
					%br
					%p Name
					%input.form-input{ :name => "username", :type => "text", :size => "20", :placeholder => "username"}
					%p Password:
					%input.form-input{ :name => "password", :type => "password", :size => "20", :placeholder => ""}
					%br
					%label.checkbox
						%input{type: :checkbox, name: "remember", value: 1}Remember Me
					%input.btn{ :name => "submit", :type => "submit", :value => "Submit"}
		.row
			.span4.offset4
				%h4= "Or login with"
		.row
			.span4.offset4.well
				%a.btn{href: to('/login/google')}
					%img{src: "/images/goog-login-button.png"}