.container
  .marketing
    %h1 Additional Features
    %h3 Tutorial Continued...
    %br
.container
  .marketing
    %h2 Back to the side-bar
%br
  %div
    .row-fluid
      .span2
      .span2
        %img{:alt => "", :src => "/images/tutorial/side_bar.png"}/
      .span6
        %ul
          %li
            %h5 My Events
            %h5
              In addition to creating events users can view their own personal Event Stream by clicking "My Events". This will focus the Stream to include only Events that you have created or added to your Calendar.
          %li
            %h5 Messages
            %h5
              Clicking "Messages" will take you to your messages page where you can send messages to other users and view both your inbox and outbox (messages previously sent by you).
          %li
            %h5 Follwing & Followers
            %h5
              Upon viewing an Event's detail page you can opt to follow a user - this will add Events that they create to your personal Stream (your "My Events"). Likewise, other users may choose to follow you.
              By clicking "Following" or "Followers" you may view a list of either those users that you are following or those that are following you.
  %br
    .container
      .marketing
        %div
          %h2 More on Messages
          %h5
            To view a message click on the its row in the list of messages.
          %img{:alt => "", :src => "/images/tutorial/messages.png"}/
          %h6
            If your inbox or sent-box is empty, then you have no messages.
          %br
            %h5
              To create a message click the "Create" button, specify the recipient(s), provide a title, compose your message, and click "Send".
            %img{:alt => "", :src => "/images/tutorial/create_message.png"}/
        %br
          %div
            %h2 More on Following & Followers
            %h5
              To view your "Following" or "Followers" list click on the corresponding link in the side-bar. Your choice of Followings will be represented in your Stream (under "My Events") bringing Events created by these users into the mix. Following a user will also provide them with your username and email so that they may communicate with you.
            %img{:alt => "", :src => "/images/tutorial/following.png"}/
            %h6
              To stop following a particular user simply click the "Unfollow" button for that entry.
            %h5
              By viewing your followers you can easily get in contact with these users via Project-X Messages or email.
            %img{:alt => "", :src => "/images/tutorial/followers.png"}/
    .container
      .marketing
        %h2
          %a{:href => "http://intense-hamlet-3672.herokuapp.com"} Onward To Project-X!
        %h5
          %a{:href => "./tutorial-1"} Back to: Tutorial - Part 1
