// Account Page
// This page gets a user local var that can be used like:
// .container
// 	.content
// 		%h2= user.user_name.to_s << ' profile'
// 		%p= 'email: ' <<  user.email.to_s

.content.span9
	-#%h2.center= user.user_name.to_s
	%img.center_block.mid_mb{:src => gravatar_for(user,200)}
	%form.form-horizontal{:action => "", :method => "post"}
		.control-group
			%label.control-label{:for => "inputDisplayName"}
				Display Name
			.controls
				%input#inputDisplayName{:name => "display_name", :placeholder => "Display Name", :type => "text", :value => "#{user.display_name}"}
		.control-group
			%label.control-label{:for => "location"}
				Location
			.controls
				%input#location{:value => "#{user.location}",:name => "location", :placeholder => "Location", :type => "text"}
		%input.center_block{:type => "submit", :class => "btn", :name => "Update"}/
