.sidebar-nav
	.well
		%ul.nav.nav-list
			%li.nav-header= map[:title]
			- map[:items].each do |item|
				- if item == :divider
					%li.divider
				- else
					%li
						%a{href: item[:href].nil? ? "#" : item[:href]}= item[:title]
						%i{class: item[:icon].nil? ? "#" : item[:icon]}
						- if item.has_key? :badge
							%span.badge.badge-info= item[:badge][:value]