.content
	.container
		.row
			.span4.offset4.well
				/ %form{ :action => @map[:action], :method => "post"}
				/ 	%h1= @map[:title]
				/ 	%br
				/ 	%p Name
				/ 	%input.form-input{ :name => "username", :type => "text", :size => "20", :placeholder => "username"}
				/ 	%p Password:
				/ 	%input.form-input{ :name => "password", :type => "password", :size => "20", :placeholder => ""}
				/ 	%br
				/ 	%label.checkbox
				/ 		%input{type: :checkbox, name: "remember", value: 1}Remember Me
				/ 	%input.btn{ :name => "submit", :type => "submit", :value => "Submit"}
				:plain
					<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
					<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
					<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/googleapis/0.0.4/googleapis.min.js"></script>
					<script type="text/javascript" src="//ajax.googleapis.com/jsapi"></script>
					<script type="text/javascript">
					  google.load("identitytoolkit", "1", {packages: ["ac"], language:"en"});
					</script>
					<script type="text/javascript">
					  $(function() {
					    window.google.identitytoolkit.setConfig({
					        developerKey: "AIzaSyAFRs3G31TorxeTZdYaW_sBnw1l5TLEDdU",
					        companyName: "chico-state-se-team",
					        callbackUrl: "http://intense-hamlet-3672.herokuapp.com/oauth2callback",
					        realm: "",
					        userStatusUrl: "http://intense-hamlet-3672.herokuapp.com/user/dashboard",
					        loginUrl: "http://intense-hamlet-3672.herokuapp.com/login",
					        signupUrl: "http://intense-hamlet-3672.herokuapp.com/register",
					        homeUrl: "http://intense-hamlet-3672.herokuapp.com/",
					        logoutUrl: "http://intense-hamlet-3672.herokuapp.com/logout",
					        idps: ["Gmail", "Yahoo", "AOL"],
					        tryFederatedFirst: true,
					        useCachedUserStatus: false,
					        useContextParam: true
					    });
					    $("#navbar").accountChooser();
					  });
					</script>
					<!-- Insert the navbar element somewhere in the HTML page -->
					<div id="navbar"></div>


