.navbar.navbar-fixed-top
	.navbar-inner
		.container-fluid
			%a.btn.btn-navbar{ "data-toggle".to_sym => "collapse", "data-target".to_sym => ".nav-collapse"}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.brand{:href => '/'} Project X
			.nav-collapse
				%ul.nav
					%li
						%a{:href => '/'}Home
					%li
						%a{:href => '/about'}About
					%li
						%a{:href => '/register'}Register
					%li
						%a{:href => '/contact'}Contact
					%li
						.btn-group
							%input#search-input{placeholder: "Search"}
								%button.btn.add-on#search-btn
									%i.icon-search
				%p.navbar-text.pull-right
					-if logged_in?
						%a{:href => "/user/#{session[:user]}/dashboard"} #{session[:user]} 
						Dashboard
						|
						%a{:href => "/logout" } Logout
						
					-else 
						%a{:href => '/login'} Login

:javascript
	$("#search-btn").click(function() {
	  var searchTerm = $("#search-input").val();
	  var msg = "search for: " + searchTerm;
	  window.location.replace("http://intense-hamlet-3672.herokuapp.com/search/" + encodeURIComponent(searchTerm));
	});
