.navbar.navbar-fixed-top
	.navbar-inner
		.container-fluid
			-if logged_in?
				%a.brand{:href => "/user/#{session[:user]}/dashboard"} Project X
			-else
				%a.brand{:href => '/'} Project X
			%input.search-query.nav-search#search-input{:type => 'text', :placeholder => "Search"}
			%ul.nav.pull-right
				%li.dropdown
					%a{"data-toggle" => "dropdown", :href => "#"}
						#{session[:user]}
						%b.caret
					%ul.dropdown-menu
						%li
							%a{:href => "/user/preferences"}
								%i.icon-cog
								Account Settings
						%li
							%a{:href => "/help/support"}
								%i.icon-envelope
								Messages
						%li.divider
						%li
							%a{:href => "/auth/logout"}
								%i.icon-info-sign
								Contact Support
						%li
							%a{:href => "/auth/logout"}
								%i.icon-off
								Logout

:javascript
	$('#search-input').keypress(function(e) {
		if(e.which == 13) {
			var searchTerm = $("#search-input").val();
			var msg = "search for: " + searchTerm;
			window.location.replace("/search/" + encodeURIComponent(searchTerm));	
		}
	})
