/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}
/*
#container {
  border: 1px solid #666;
  padding: 5px;
  margin-bottom: 20px;
}
*/
.element {
  width: 110px;
  height: 110px;
  margin: 3px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #888;
  color: #222;
}

.element.work          { background: #F00; background: hsl(   0, 100%, 50%); }
.element.personal  { background: #F80; background: hsl(  36, 100%, 50%); }
.element.school      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element.leisure        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element.outdoors      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element.etc { background: #0FF; background: hsl( 180, 100%, 50%); }
.element.none       { background: #08F; background: hsl( 216, 100%, 50%); }
.element.entertainment  { background: #00F; background: hsl( 252, 100%, 50%); }
.element.boring         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }


.element * {
  position: absolute;
  margin: 0;
}

.element .symbol {
  left: 0.2em;
  top: 0.4em;
  font-size: 1.8em;
  line-height: 1.0em;
  color: #FFF;
}

.element .event-date {
  left: 0.8em;
  font-size: 1em;
  top: 3.4em;
}

.element.large .event-date {
  left: 0.6em;
  font-size: 0.7em;
  top: 6.4em;
}

.element img {
  width: 200;
}
.element.large .symbol {
  font-size: 4.5em;
}

.element.large img {
  width: 350px;
  height: 342px;
}

.element.large h1{
  font-size: 3.0em;
}
.element h1{
  padding-top: 7px;
  padding-left: 5px;
  margin-top: 10px;
  font-size: 2.0em;
}

.element.fake .symbol {
  color: #000;
}

.element .name {
  color: white;
  left: 0.5em;
  top: 5.3em;
  font-size: 1.05em;
}

.element.large .name {
  left: 0.3em;
  top: 3.3em;
  font-size: 1.05em;
}

.element .weight {
  font-size: 0.9em;
  left: 0.5em;
  bottom: 0.5em;
}

.element .number {
  font-size: 1.25em;
  font-weight: bold;
  color: hsla(0,0%,0%,.5);
  right: 0.5em;
  top: 0.5em;
}

.element.btn {
  display: none;
}

.large.btn {
  display: block;
}

/*.variable-sizes .element.width2 { width: 230px; }

.variable-sizes .element.height2 { height: 230px; }

.variable-sizes .element.width2.height2 {
  font-size: 2.0em;
}*/

.element.large,
.variable-sizes .element.large,
.variable-sizes .element.large.width2.height2 {
  font-size: 3.0em;
  width: 350px;
  height: 342px;
  z-index: 100;
}

.clickable .element:hover {
  cursor: pointer;
}

.clickable .element:hover h3 {
  text-shadow:
    0 0 10px white,
    0 0 10px white
  ;
}

.clickable .element:hover h2 {
  color: white;
}

/**** Photo demo ****/

.photos .photo {
  width: 320px;
  margin: 5px;
  float: left;
}

.photos .photo img {
  display: block;
  width: 100%;
}

#content {
  /*margin-left: 210px;*/
}

.demos #content {
  height: 100%;
}

.window-pane {
  color: white;
}

.window-pane p {
  top: 6.0em;
}

.window-pane-buttons {
  display: none;
}

.element.large .window-pane-buttons {
  top: 7.4em;
  left: 0.25em;
  display: block;
}

.element.large .window-pane-buttons btn {
  display: inline-block;
  *display: inline;
  padding: 4px 14px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.element.large .window-pane-buttons i{
  position: relative;
}

.element .comment-count {
  display: none;
}

.element.large .comment-count {
  display: inline-block;
  top: 17.5em;
  left: 1.0em;
  color: white;
}

.input-append button.add-on {
    height: inherit !important;
}

.reply-message {
  display: none;
}

.little_mt {
   margin-top: 5px;
}
.mid_mt {
   margin-top: 15px;
}

.twitter-photo {
  width: 50px;
  height: 50px;
}

.twitter-photo .large{
  width: 50px;
  height: 50px;
}

.footer {
  padding: 10px;
  margin-top: 400px
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:<length>;
}
