// Account Page
// This page gets a user local var that can be used like:
// .container
// 	.content
// 		%h2= user.user_name.to_s << ' profile'
// 		%p= 'email: ' <<  user.email.to_s

.container
	%h1= "Account"