.span9
	%form#replyForm{action: "/user/#{user.user_name}/message", method: "post"}
		.row
			%small
				To
		.row
			%input{type: :text, style: "width: 580px;", value: "#{source}", name: "target_user"}
		.row
			%small
				Subject
		.row
			%input{type: :text, style: "width: 580px;", value: "#{subject}", name: "message_subject"}
		.row
			%textarea{rows: 7, style: "width: 580px;", name: "message_body"}
		.row
			%input.btn.btn-primary{ :name => "send_message", :type => "submit", :value => "send"}