.span9
	%form#replyForm{action: "/user/#{user_name}/event/#{event_id}/comment", method: "post"}
		.row
			%textarea{rows: 7, style: "width: 560px;", name: "body"}
		.row
			%input.btn{ :name => "send_message", :type => "submit", :value => "reply"}
