.row
	.bs-docs-example
		%form{action: "/user/#{SessionController.get(session[:user_uuid]).user_name}/event/create-event", method: "post"}
			%legend= "Create an event"
			%h4= "Event info"
			%label= "Title"
			%input{}
		%br
		%input.btn{ :name => "submit", :type => "submit", :value => "Submit"}
