.row
	.bs-docs-example
		%form{action: "/user/#{current_user.user_name}/event/create-event", method: "post"}
			%legend= "Create an event"
			%input{}
		%br
		%input.btn{ :name => "submit", :type => "submit", :value => "Submit"}
